{% extends 'base.html.twig' %}

{% block title %}Menu Section{% endblock %}

{% block body %}
    <h1>Menu Section</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ menu_section.id }}</td>
            </tr>
            <tr>
                <th>SectionNumber</th>
                <td>{{ menu_section.sectionNumber }}</td>
            </tr>
            <tr>
                <th>SectionTitle</th>
                <td>{{ menu_section.sectionTitle }}</td>
            </tr>
            <tr>
                <th>SectionImage</th>
                <td>{{ menu_section.sectionImage ? menu_section.sectionImage : 'No image' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn" href="{{ path('menu_section_index') }}">back to list</a>

    <a class="btn" href="{{ path('menu_section_edit', {'id': menu_section.id}) }}">edit</a>

    {{ include('menu_section/_delete_form.html.twig') }}
{% endblock %}
